# Environments
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and databases
*.log
*.sqlite
*.db

# macOS / Windows specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Local configuration
config/config.yaml